<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %> 
<body>
    <%- include("partials/nav") %> 
    <h1>Welcome to Express Dev Skills</h1>
    <a href="/skills">See All Skills</a>
</body>
</html>